<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>Scope Cinemas</title>
</head>
<body>
<div th:insert="/navbar/navbar.html :: navbar">  </div>
<br>
<br>
<div class="container">
    <h4><a style="color: #4285f4; text-decoration: none;" th:href="@{/users/adminHome}">< Back |</a> List of all Users</h4>
    <br>
    <br>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>User Id</th>
        <th>Email</th>
        <th>Name</th>
        <th>Password</th>
    </thead>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>
<!--    <span><a class="pageButton" th:href="@{/users/adminHome}"><button>Go Back</button></a></span>-->
    <span th:if="${pageNum>1}"><a class="pageButton" th:href="@{'http://localhost:8080/users/basic/'+ ${pageNum -1}}"><button>Previous</button></a></span>
<a class=pageButton th:href="@{'http://localhost:8080/users/basic/'+ ${pageNum + 1}}"><button>Next</button></a>
</div>
<br>
</body>
</html>