<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div th:insert="/navbar/navbar.html :: navbar">  </div>
<br><br>
<h3>Update a movie</h3>
<div class="container">
    <form action="updateSuccess" th:object="${movie}" method ="POST">
        Movie Number: <span th:text="*{id}"></span>
        <input type="hidden" id="id" name="id" th:field="*{id}">
        <br/><br/>
        <label for="directors">Directors: </label>
        <input type="text" id="directors" name="directors" th:field="*{directors}">
        <br/><br/>
        <label for="fullplot">Fullplot: </label>
        <input type="text" id="fullplot" name="fullplot" th:field="*{fullplot}">
        <br/><br/>
        <label for="numMflixComments">Number of comments: </label>
        <input type="text" id="numMflixComments" name="numMflixComments" th:field="*{numMflixComments}">
        <br/><br/>
        <label for="plot">Plot: </label>
        <input type="text" id="plot" name="plot" th:field="*{plot}">
        <br/><br/>
        <label for="title">Title: </label>
        <input type="text" id="title" name="title" th:field="*{title}">
        <br/><br/>
        <label for="writers">Writers: </label>
        <input type="text" id="writers" name="writers" th:field="*{writers}">
        <br/><br/>
<!--        <label for="awards">Awards: </label>-->
<!--        <input type="text" id="awards" name="awards" th:field="*{awards}">-->
<!--        <br/><br/>-->
        <label for="awardNominations">Nominations: </label>
        <input type="number" id="awardNominations" name="awardNominations" th:field="*{awards.nominations}">
        <br/><br/>
        <label for="awardText">Award Info: </label>
        <input type="text" id="awardText" name="awardText" th:field="*{awards.text}">
        <br/><br/>
        <label for="awardWins">Wins: </label>
        <input type="number" id="awardWins" name="awardWins" th:field="*{awards.wins}">
        <br/><br/>
        <label for="genres">Genre: </label>
        <input type="text" id="genres" name="genres" th:field="*{genres}">
        <br/><br/>
        <label for="lastupdated">Last Updated: </label>
        <input type="text" id="lastupdated" name="lastupdated" th:field="*{lastupdated}">
        <br/><br/>
        <label for="poster">Poster: </label>
        <input type="text" id="poster" name="poster" th:field="*{poster}">
        <br/><br/>
<!--        <label for="tomatoes">Tomatoes: </label>-->
<!--        <input type="text" id="tomatoes" name="tomatoes" th:field="*{tomatoes}">-->
<!--        <br/><br/>-->
        <label for="year">Year: </label>
        <input type="text" id="year" name="year" th:field="*{year}">
        <br/><br/>
<!--        <label for="imdb">Imdb: </label>-->
<!--        <input type="text" id="imdb" name="imdb" th:field="*{imdb}">-->
<!--        <br/><br/>-->
        <label for="imdbID">IMDB ID: </label>
        <input type="number" id="imdbID" name="imdbId" th:field="*{imdb.id}">
        <br/><br/>
        <label for="imdbRating">IMDB Rating: </label>
        <input type="number" step="0.1" id="imdbRating" name="imdbRating" th:field="*{imdb.rating}">
        <br/><br/>
        <label for="imdbVotes">IMDB Votes: </label>
        <input type="number" id="imdbVotes" name="imdbVotes" th:field="*{imdb.votes}">
        <br/><br/>
        <label for="rated">Rated: </label>
        <input type="text" id="rated" name="rated" th:field="*{rated}">
        <br/><br/>
        <label for="released">Released: </label>
        <input type="text" id="released" name="released" th:field="*{released}">
        <br/><br/>
        <label for="runtime">Runtime: </label>
        <input type="text" id="runtime" name="runtime" th:field="*{runtime}">
        <br/><br/>
        <label for="cast">Cast: </label>
        <input type="text" id="cast" name="cast" th:field="*{cast}">
        <br/><br/>
        <label for="countries">Countries: </label>
        <input type="text" id="countries" name="countries" th:field="*{countries}">
        <br/><br/>
        <label for="type">Type: </label>
        <input type="text" id="type" name="type" th:field="*{type}">
        <br/><br/>
        <input type="submit" value="Update Movie">
    </form>
</div>
</body>
</html>